.footer {
  background: rgb(3, 31, 53);
  margin-top: 120px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  padding-top: clamp(1.563rem, 0.994rem + 2.84vw, 3.125rem);
  padding-bottom: clamp(1.563rem, 0.994rem + 2.84vw, 3.125rem);
  color: #f9f9f9;
}

.footerTopWrapper {
  display: flex;
  gap: 40px;
  align-items: center;

  @media (max-width: 980px) {
    flex-direction: column;
  }
}

.footerTopLeft {
  flex: 0 1 50%;

  @media (max-width: 768px) {
    display: none;
  }
}

.footerTitle {
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 20px;
  letter-spacing: 3px;
  color: #fff;
}

.footerDesctiption {
  font-size: clamp(0.875rem, 0.682rem + 0.682vw, 1rem);
  line-height: 120%;
  margin-bottom: 30px;
  color: #fff;
}

.footerBullets {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 20px;
}

.footerText {
  margin-bottom: 30px;

  p {
    font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
    line-height: 160%;
    color: #dcdcdc;
  }
}

.footerSubtitle {
  font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
  line-height: 120%;
  margin-bottom: 20px;
  color: #fff;
}

.footerText {
  column-count: 2;
  column-gap: 40px;
}

.footerContactsItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.footerContactsItemIcon {
  background-color: #032540;
  padding: 10px;
  border-radius: 50%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgb(103, 103, 103);;
}

.footerTopRight {
  flex: 0 1 50%;
}

.formWrapper {
  background-color: #032540;
  padding: 55px;
  text-align: center;

  @media (max-width: 500px) {
    padding: 0;
    background-color: #031f35;
  }
}

.footerBottom {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footerBottomGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-bottom: 20px;

  @media (max-width: 980px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gridItemSubtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 30px;
  color: #fff;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #ffa800;
  }
}

.gridItemLink {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  font-weight: 500;
  line-height: 120%;
  color: #fff;
  transition: all 0.2s ease;
  margin-bottom: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);

  &:hover {
    color: #ffa800;
  }
}

.footerBottomLogo {
  margin-bottom: 15px;
}

.footerBottomLogoImage {
  height: 40px;
  width: auto;
}

.text {
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}

.footerBottomSocial {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: start;
    gap: 10px;
  }
}

.footerBottomSocialItem {
  padding: 10px;
  background-color: #ffa800;
  transition: all 0.2s ease;

  &:hover {
    background-color: #ab8437;
  }
}

.copyrigth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 12px;
  padding-top: 20px;
}